# installed NodeJS modules, which are often very large.
node_modules/
package-lock.json
# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# because macOS is macOS.
.DS_Store

#ignore 3rd party library files 
Gemfile.lock

# Java
*.class
*.jar
*.war
*.ear

# Eclipse
.project
.classpath
.settings

# Idea
.idea
*.iml
*.iws
*.ipr

# OS
Thumbs.db

# Gradle
.gradle
!gradle-wrapper.jar

# Maven
target

# Build
out
build
bin

# Other
*.log
*.swp
*.bak

